.content {
  position: relative;
  max-height: 90vh;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: $phone) {
    max-width: 85vw;
  }
}

.content__photo {
  max-height: 90vh;
  height: 100%;
  width: 100%;  
  flex-grow: 1;
  object-fit: contain;
}

.content__description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: $text-color-light;
  background-color: rgba($foreground, 0.8);

  @media (max-width: $phone) {
    padding: 5px;
    font-size: 12px;
  }
}

.closeBtn {
  @extend %centered;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: $text-color-light;
  background-color: rgba($foreground, 0.2);
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    filter: brightness(1.25);
  }
}