.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba($foreground, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  transition: all 0.3s ease-in-out;

  &.active {
    pointer-events: all;
    opacity: 1;
    z-index: 100;
  }
}

.modalContent {
  padding: 20px;
  border-radius: 10px;
  color: $text-color-light;
  font-weight: 700;
  background-color: grey;
  box-shadow: 0px 0px 4px 1px #858484;
  transform: scale(0.5);
  transition: all 0.3s ease-in-out;

  &.modalContentActive {
    transform: scale(1);
  }
}
