.pagination {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: center;
  gap: 5px;  

  @media (max-width: $phone) {
    flex-direction: column;
  }
}

.pagination__btns {
  display: flex;  
  padding: 10px;
  justify-content: center;
  gap: 10px;

  @media (max-width: $tablet) {
    gap: 5px;
  }
}

.btn {
  @extend %centered;
  width: 40px;
  height: 40px;
  border: 2px solid $foreground;
  border-radius: 50%;
  font-size: 24px;
  color: $text-color;
  background-color: $background-darker;
  cursor: pointer;
  transition: filter 0.3s ease;
  
  &[disabled] {
    border: 2px solid $btn-disabled-color;
    color: $btn-disabled-color;
  }

  &:hover:not([disabled]) {
    background-color: $background-darker;
    filter: brightness(0.85);    
  }

  @media (max-width: $tablet) {
    width: 35px;
    height: 35px;
  }
}

.pagination__select {
  position: absolute;
  right: 0;
  top: 50%;
  display: flex;
  transform: translateY(-50%);

  @media (max-width: $phone) {
    position: relative;
    align-self: center;
    transform: translateY(0);
  }
}

.page {
  @extend %centered;
  width: 35px;
  padding: 0 20px;
  font-weight: bold;
  color: $text-color;

  @media (max-width: $phone) {
    padding: 0 10px;
    font-size: 14px;
  }
}

