.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.main__container {
  display: flex;
  min-height: 100%;
  padding: 15px 0;
  flex-direction: column;
  gap: 10px;
}